.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: flex-start;
}

.h1_adminPanel {
  color: #fff;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.reques_fun_queries_database {
  margin: 0rem 4rem;
  // margin: auto;
}

// боковое меню
.sidebar {
  //   position: fixed;
  margin-right: 1rem;
  padding: 1rem;
  width: 200px;
  // height: 100%;
  background-color: #333;

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    padding: 10px;
  }

  ul li a {
    color: white;
    text-decoration: none;
  }
}

.label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  // border-radius: 2rem;
  // margin: 2rem 2rem;
}
.input_parameters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: fit-content;
}

h1 {
  font-size: 24px;
}

.fun {
  margin: 2rem;
}

input {
  padding: 20px 0px 5px 0px;
  border: none;
  border-bottom: #333 1px solid;
  :active,
  :hover,
  :focus,
  :focus-visible {
    border: none;
    // outline: 0;
    // outline-offset: 0;
    // background: transparent;
  }
}

.btn_submit_admin {
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

table {
  margin: 2rem;
  th,
  td {
    padding: 1rem;
  }
}
tr:nth-child(even) {
  background-color: #5b5b5baf;
}

.table_user_admin {
  margin: 2rem;
}
