.conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border: #00bcd4 2px solid;
  border-radius: 1rem;
}

.card {
  h1 {
    display: flex;
    margin-top: 0.5rem;
    // align-items: center;
    justify-content: center;
  }
  input {
    margin: 1rem 0.5rem;
  }
  button {
    margin: 1rem 0.5rem;
    width: 92%;
    cursor: pointer;
  }
  button:nth-child(2n) {
    font-size: 12px;
    background-color: #fff;
    border: none;
    border-bottom: #00bcd4 1px solid;
    margin-top: 0.5rem;
  }
  .error_massage {
    display: flex;

    justify-content: center;
  }
}

.login_in {
  background-color: transparent;
  border: 1px solid #00d8ff;
  border-radius: 3rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}
