.sum_point_section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.counter_point {
  margin: 1rem;
}

.questions_point {
  padding: 1rem;
}
